* {
    margin: 0;
}

header {
    background-color: #EEE4E1;
    padding-top: 70px;
    padding-bottom: 70px;
}

h1 {
    font-family: 'DM sans', sans-serif;
    text-emphasis: none;
    font-weight: 400;
    font-size: 4.5em;
}

p {
    font-family: 'Manrope', sans-serif;
    font-size: .9em;
    font-weight: 500;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.hero-text {
    margin-left: 120px;
}

.title-hero-text {
    margin-top: 60px;
}

.body-hero-text {
    margin-top: 20px;
    line-height: 4px;
}

.block {
    display: block;
    margin-top: -20px;
}

.hero-img {
    display: none;
    margin-right: 90px;
}

.quiz-hero-button {
    margin-top: 50px;
}

.quiz-button {
    background-color: #0019F5;
    border-radius: 30px/30px;
    border: none;
    padding: 5px;
    padding-left: 17px;
    padding-right: 17px;
    font-family: 'Manrope', sans-serif;
    color: white;
    display: inline-flex;
    vertical-align: middle;
}

button:hover {
    background-color: #5566FF;
}

.material-icons {
    margin-left: 10px;
}

.arrow {
    margin-top: 5px;
    font-size: 15px;
}

.button-text {
    margin-top: 1px;
    font-family: 'Manrope', sans-serif;
    font-size: .9em;
}

.color-analysis-text {
    text-align: center;
    margin-top: 50px;
}

.color-analysis-question {
    text-align:center;
}

.color-analysis-answer {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5em;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 10px;
    margin-bottom: 50px;
    line-height: 30px;
}

.highlight {
    color: #B1967D;
}

.card-container {
    justify-content:center ;
}

.card {
    border-radius: 10px/10px;
    margin: 5px;
    border: none;
    height: 370px;
    width: 290px;
}

/* .img-card {
    border-radius: 10px/10px;
} */

.card1 {
    background-color: #E6BFAE;
}

.card2 {
    background-color: #E6D9C9;
}

.card3 {
    background-color: #EEE4E1;
}

.card4 {
    background-color: #E6BFAE;
}

.card-img {
    display: none;
}

.card-body {
    margin-left: 10px;
    margin-top: 10px;
}


.card-text {
    line-height: 20px;
    margin-right: 20px;
}

.card-instructions {
    justify-content: center;
    margin: 30px;
}

.step1 {
    margin-top: 150px;
    font-size: 4em;
}

.step2 {
    margin-top: 170px;
    font-size: 4em;
}

.card h2 {
    font-family: 'DM Sans', sans-serif;
}

@media(min-width: 598px){

}

@media(min-width: 768px){

   
}

@media(min-width: 992px){

    .hero-img {
        display: block;
        max-width: 310px;
    }

}

@media(min-width: 1100px){

    .hero-img {
        display: block;
        max-width: 380px;
    }

}

@media(min-width: 1200px){

    .hero-img {
        display: block;
        max-width: 500px;
    }

    .card-img {
        display: block;
    }

}