* {
    box-sizing: border-box;
}

/* kira */
.proposal header {
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
    text-align: center;
}

.proposal h2 {
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	margin-top: 20px;
}

.proposal ul {
	text-align: left;
}

/* Home page */

a.proposal-links:hover {
    text-decoration: underline;
	color: black;
}

a:hover {
    text-decoration: none;
	color: black;
}

.quiz nav a:hover {
    text-decoration: none;
	color: black;
}

.home header {
    background-color: #EEE4E1;
    padding-bottom: 80px;
}

.products li, .filtered li, .home li, .quiz li{
    display: inline-block;
    margin-right: 30px;
    font-family: 'Manrope', sans-serif;
    font-size: .9em;
    font-weight: 300;
}

.active {
    text-decoration: underline;
}

footer {
    margin-bottom: 30px;
}

.footer-icons {
    max-height: 5px;
    margin-right: 5px;
    margin-bottom: 22px;
    vertical-align: middle;
}

.footer-logo-container {
    text-align: center;
}

.footer-logo {
    max-width: 200px;
    margin-bottom: 10px;
}

.text-contact{
    font-size: 0.75em;
}

.nav-pages {
    text-align: end;
}

.material-icons.profile {
    display: inline-flex;
    vertical-align: middle;
    margin-right: 5px;
    margin-left: 0;
	display: none;
}

nav {
    font-family: 'Manrope', sans-serif;
    font-size: .9em;
    font-weight: 300;
}

.navbar {
    padding: 10px 20px 20px 20px;
}

.margin-link {
    margin-right: 30px;
}

.upload-link {
    margin-right: 100px;
}

.logo {
    max-height: 40px;
}

h1 {
    font-family: 'DM sans', sans-serif;
    text-emphasis: none;
    font-weight: 400;
    font-size: 4.5em;
}

p {
    font-family: 'Manrope', sans-serif;
    font-size: .9em;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-filters {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    text-align: end;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.hero-text {
    margin-left: 120px;
}

.title-hero-text {
    margin-top: 60px;
    text-align: center;

}

.body-hero-text {
    margin-top: 20px;
    margin-right: 20px;
    text-align: center;
}


.block {
    display: block;
    margin-top: -20px;
}

.hero-img {
    display: none;
    margin-right: 90px;
}

.quiz-hero-button {
    margin-top: 50px;
    text-align: center;
}

.quiz-button {
    background-color: #0019F5;
    border-radius: 30px/30px;
    border: none;
    padding: 5px;
    padding-left: 17px;
    padding-right: 17px;
    font-family: 'Manrope', sans-serif;
    color: white;
    display: inline-flex;
    vertical-align: middle;
}

button:hover {
    background-color: #5566FF;
}

.material-icons {
    margin-left: 10px;
}

.arrow {
    margin-top: 3px;
    font-size: 15px;
}

.button-text {
    font-family: 'Manrope', sans-serif;
    font-size: .9em;
}

.color-analysis-text {
    text-align: center;
    margin-top: 50px;
}

.color-analysis-question {
    text-align:center;
}

.color-analysis-answer {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5em;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 10px;
    margin-bottom: 50px;
    line-height: 30px;
}

.highlight {
    color: #B1967D;
}

.card-container {
    justify-content:center ;
}

.home .card {
    border-radius: 10px/10px;
    margin: 5px;
    border: none;
    height: 370px;
    width: 290px;
}

.card1, .card4 {
    background-color: #E6BFAE;
}

.card2 {
    background-color: #E6D9C9;
}

.card3 {
    background-color: #EEE4E1;
}

.home .card-img {
    display: none;
}

.card-body {
    margin-left: 10px;
    margin-top: 10px;
}

.card-text {
    line-height: 20px;
    margin-right: 20px;
}

.card-instructions {
    justify-content: center;
    margin: 30px;
}

.step1 {
    margin-top: 150px;
    font-size: 4em;
}

.step2 {
    margin-top: 170px;
    font-size: 4em;
}

h2 {
    font-family: 'DM Sans', sans-serif;
}

.footer-text {
    text-align: center;
}

.text-contact{
    text-align: center;
    margin-right: 30px;
}

.links-proposal {
	margin-top: 20px;
}

ul {
    text-align: center;
}

.contact{
    flex-direction: column;
    align-items: center;
}


@media(min-width: 598px){
    .title-hero-text {
        text-align: left;
    }

    .body-hero-text {
        text-align: left;
    }

    .quiz-hero-button {
        text-align: left;
    }
}

@media(min-width: 768px){
    .title-hero-text {
        text-align: left;
    }

    .body-hero-text {
        text-align: left;
    }

    .quiz-hero-button {
        text-align: left;
    }
   
}

@media (min-width: 990px){

	.material-icons.profile{
		display: inline;
	}
}

@media(min-width: 992px){

    .hero-img {
        display: block;
        max-width: 310px;
    }

    .title-hero-text {
        text-align: left;
    }

    .body-hero-text {
        text-align: left;
    }

    .quiz-hero-button {
        text-align: left;
    }

}

@media(min-width: 1100px){

    .hero-img {
        display: block;
        max-width: 380px;
    }

    .title-hero-text {
        text-align: left;
    }

    .body-hero-text {
        text-align: left;
    }

    .quiz-hero-button {
        text-align: left;
    }

}

@media(min-width: 1200px){

    .hero-img {
        display: block;
        max-width: 500px;
    }

    .home .card-img {
        display: block;
    }

    .body-hero-text {
        margin-top: 20px;
        margin-right: 120px;
    }

    .title-hero-text {
        text-align: left;
    }

    .body-hero-text {
        text-align: left;
    }

    .quiz-hero-button {
        text-align: left;
    }

    .products .element-checkbox {
        display: block;
    }

    .products .col1{
        width: 20%;
    }
    
    .products .col2{
        width: 80%;
    }

    .body-qt {
        width: 100%;
    }

}

/* Products page */

.content {
    margin: 50px;
    margin-top: 0;
}

a {
    text-decoration: none;
    color: black;
	font-family: 'Manrope', sans-serif;
    font-size: .9em;
    font-weight: 300;
}

.element-checkbox {
    display: block;
}

.products h1 {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5em;

}

.products p, td {
    font-family: 'Manrope', sans-serif;
    font-size: .8em;
}

.products td {
    padding-right: 3px;
}

.title-filter {
    margin-bottom: 5px;
    margin-top: 20px;
}

.products .card, .filtered .card{
    margin-top: 30px;

}

.products .card-body, .filtered .card-body {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0;
}

.products .card-text {
    /* margin-right: 40px; */
    margin-left: 20px;
}

.products .price {
    font-size: 0.7em;
    align-self: flex-end;
    margin-right:20px;
}

.products .col-price {
    vertical-align: text-bottom;
}

.products .product-desc {
    display: flex;
}

p.filter {
    display: inline-block;
    padding: 3px 10px;
    margin-bottom:0;
    border: 1px solid black;
    border-radius: 30px/30px;
    font-size: 0.7em;
}

.filters{
    margin: 15px 15px 20px 15px;
}

.products tbody, td, tfoot, th, thead, tr {
    border-style: none;
}

.products .quiz-button, .filtered .quiz-button {
    background-color: white;
    border-radius: 30px/30px;
    border: 1px solid black;
    padding: 5px;
    padding-left: 17px;
    padding-right: 17px;
    font-family: 'Manrope', sans-serif;
    color: black;
    margin-left: 5px;
    font-size: 0.8em;
}

.add {
    margin-top: 3px;
    font-size: 15px;
}

@media (min-width: 1000px) {
    
    .products .quiz-button, .filtered .quiz-button {
        background-color: white;
        border-radius: 30px/30px;
        border: 1px solid black;
        padding: 5px;
        padding-left: 17px;
        padding-right: 17px;
        font-family: 'Manrope', sans-serif;
        color: black;
        margin-left: 5px;
        font-size: 0.8em;
    }
}

/* Filtered page */

.filtered .products-button {
    background-color: EEE4E1;
    border-radius: 30px/30px;
    border: 1px solid black;
    padding: 5px;
    padding-left: 17px;
    padding-right: 17px;
    font-family: 'Manrope', sans-serif;
    color: black;
    margin-left: 5px;
    font-size: 0.8em;
}

/* Jasmine */

/* quiz landing */
.body-quiz {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .quiz nav a {
    color: black;
    font-family: 'Manrope', sans-serif;
    font-size: .9em;
    font-weight: 300;
} */

.background-color-lp {
    background-color: #F6F3F1;;
}

.body-lp, .landing-top-word, .landing-bottom-word-1, .landing-bottom-word-2, .next-button-lp {
  font-family: 'Manrope', sans-serif;
}

.landing-middle-word {
  font-family: 'DM Sans', sans-serif;
}

.next-button-lp, .landing-top-word, .landing-middle-word, .landing-bottom-word-1, .landing-bottom-word-2 {
  color: black;
  text-align: center;
}

.landing-top-word, .landing-middle-word, .landing-bottom-word-1, .landing-bottom-word-2 {
  margin: 0.5em 1em;
}

.landing-middle-word {
  font-size: 2.5rem;
  line-height: .5;
}

.landing-bottom-word-1, .landing-bottom-word-2 {
  font-size: 0.55rem;
  margin: 0 2em;
  line-height: 1.3;
}

.next-button-lp {
  font-size: 0.9rem;
  color: white;
  background-color: black;
  border-color: black;
  border-radius: 1.875rem;
  padding: 0.25rem 1.25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.center-button-lp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* quiz result page */

* {
    box-sizing: border-box;
}

body .body-cs {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FEF7E7;
}

body .body-cw {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #005E731A;
}

body .body-wa {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #983A061A;
}

body .body-ws {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6E8EF;
}

.big-square-qr {
    width: auto;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    box-sizing: border-box;
}

.result, .next-button-qr {
    font-family: 'Manrope', sans-serif;
}

.result-top-word {
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
    color: #949494;
    text-align: center;
    margin: 0;
    line-height: 1.3;
}

.result {
    font-size: 2.5rem;
    color: black;
    text-align: center;
    margin: 0;
    line-height: 1;
}

.next-button-qr {
    font-size: 0.75rem;
    color: white;
    background-color: black;
    border-color: black;
    border-radius: 1.875rem;
    padding: 0.25rem 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

/* quiz taking page */

.body-qt {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F3F1;
}

.big-square-qt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
}

.question {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.25rem;
    color: black;
    text-align: center;
    line-height: 1.3;
    margin-bottom: 1.5rem;
}

.quiz-option {
    background-color: #D9D9D9;
    color: black;
    border: none;
    margin: 0.5rem;
    width: 16rem;
    border-radius: 1.25rem;
    font-size: 0.9rem;
}

.cards-qt {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin: 0;
  border: white;
}

.card-qt {
  width: 150px;
  height: 150px;
  position: relative;
  border: none; 
  text-align: center;
  background: none;
}

.color-name-qt {
  color:black;
  font-size: 16px;
  position: absolute;
  left: 0;
  bottom: 0; 
  width: 100%;
  padding: 10px;
  background-color: #FFFFFF;
  text-align: center;
}

.next-button-qt {
    font-family: 'Manrope', sans-serif;
    font-size: 0.9rem;
    color: white;
    background-color: black;
    border-color: black;
    border-radius: 1.875rem;
    padding: 0.25rem 1.25rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.next-button-qt .material-icons {
    font-size: 0.875rem;
    vertical-align: middle;
    padding-left: 0.1875rem;
}

.progress-indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.625rem;
}

.progress-dot, .colored-dot {
    height: 0.55rem;
    width: 0.55rem;
    border-radius: 50%;
    margin: 0.2rem;
}

.progress-dot {
    background-color: #D9D9D9;
}

.colored-dot {
    background-color: #949494;
}

.pale-pink, .soft-pink, .terra-cotta, .natural-blush, .warm-brown, .deep-red {
  background-color: #E29B92;
}

.soft-pink { background-color: #EA8389; }
.terra-cotta { background-color: #9C5148; }
.natural-blush { background-color: #BC7A6F; }
.warm-brown { background-color: #AF564F; }
.deep-red { background-color: #682629; }

@media (min-width: 1240px) {
    
    /* quiz landing */
    .landing-top-word {
        font-size: 1.25rem;
    }
    
    .landing-middle-word {
        font-size: 3.125rem;
    }
    
    .landing-bottom-word-1, .landing-bottom-word-2 {
        font-size: 0.85rem;
    }

    /* quiz result */
    .big-square-qr {
        width: 62.5rem;
        height: 37.5rem;
    }

    .background-color-cs {
        background-color: #F6E8EF;
    }

    .background-color-cw {
        background-color: #005E731A;
    }

    .background-color-wa {
        background-color: #983A061A;
    }

    .background-color-ws {
        background-color: #FEF7E7;
    }

    .result-top-word {
        font-size: 1.5rem;
    }
    
    .result {
        font-size: 3.125rem;
        line-height: 1.1;
    }

    /* quiz taking */
    .body-qt {
        background-color: white;
    }
    
    .big-square-qt {
        width: 78rem;
        height: 41rem;
        background-color: rgba(177, 150, 125, 0.1);
    }

    .question {
        font-size: 1.5rem;
        margin-bottom: 1.5625rem;
    }

    .quiz-option {
        padding: 0.5rem 0.9375rem;
        width: 30%;
        font-size: 1rem;
        margin: 0.625rem;
    }

    .next-button-qt {
        font-size: 0.875rem;
        padding: 0.25rem 1.875rem;
        margin-top: 1.5625rem;
    }
    
    .progress-dot, .colored-dot {
        height: 0.625rem;
        width: 0.625rem;
        margin: 0.3125rem;
    }
}


